
/* header */

.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 5px 20px;
  /* border-right: 1px solid #f4f4f4; */
  text-decoration: none;
}

.header li a:visited, a:link{
  color: #636060;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  /* display: inline ; */
  float: left;
  font-size: 2em;
  margin: 0 5vw;
  padding: 10px 10px;
  text-decoration: none;
  max-width:65%;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
  text-align: center;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 4px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 8px;
}

.header .menu-icon .navicon:after {
  top: -8px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  /* The size of the drop down box */
  max-height: 400px; 
 }

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

/* @media (min-width: 1000px) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  } */
/* } */


body {
  background-color: #B3B995;
  font-family:  Georgia, serif;
  font-size: 1.5rem;
  line-height: 1.1;
  color:#636060;
  width: 100%;
  margin: 6em 0 0 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

h2 {
  text-align: center;
  text-decoration: underline;
  font-size: 2rem;
  font-weight: 900;
  margin-top: 1rem;
}

h3 {
  margin: 1em;
  text-align: center;
}

a {
  text-decoration: none;
  word-wrap: break-word;
}

a:hover {
  opacity: 40%;
}

.hero--text {
  text-align: center;
  font-size: 1.5rem;
  color:  hsl(57, 45%, 90%);
}

.quote {
  font-style: italic;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
}

.sticky {
  top: 0;
  position: sticky;
  position:-webkit-sticky;
  display: flex;
  justify-content: center;
  align-items:center;
}

.button-link {
  font-size: 1rem;
  background-color: #636060;
  color: white;
  margin: 1rem;
  padding: 1rem;
}

.container {
  clear: both;
  width: 100%;
  margin: 1rem auto;
}

.container a {
  text-align: center;
}

.opening_times {
  display: grid;
  grid-template-columns: min-content auto;
  gap: 1rem;
  margin: 1rem 1rem 1rem 3rem;
  padding: 1rem;
}

.opening_times p {
  margin:0;
  padding: 0;
}

.box {
  width:50%;
  margin: 1em;
}

.background-light {
  background-color:  hsl(57, 45%, 90%);
  color: #636060;
}

.background-medium {
  background-color: #B3B995;
  color: white;
}

.background-dark {
  background-color: #636060;
  color: white;
}

.prescription-times {
  width:100%;
  text-align: center;
  background-color:  hsl(57, 45%, 90%);
  color: #636060;
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.row img {
  max-height: 20%;
  max-width:30%;
  padding: 1em;
}

.emblem {
  width:50%; 
  margin:0.5em;
  align-self:flex-end;
  text-align: center;
}

.social{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.volunteering {
  font-size: 1em;
}

.float_left {
  clear:right;
  float:left;
  padding: 1em;
  max-width: 60%;
}

.float_right {
  clear:left;
  float:right;
  padding: 1em;
  max-width: 60%;
}


@media (max-width: 500px) {
  .row{
    flex-direction: column;
  }
}

.service_p {
  margin:1em;
  font-size: 0.8em;
  flex-basis: 70%;
  flex-grow: 3;
}

ul {
  line-height: 1.3em;
  padding-left:2em;
  display: block;
  font-size: 0.8em;
}

ul>ul {
  padding-left:1em;
  font-size: 1em;
}

p {
  padding: 0 0.5rem;
  margin:1em;
  line-height: 1.2em;
}

.prods {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
  justify-content: space-evenly;
  font-size: 0.8rem;
  color: #636060;
}

.col {
  width: 40%;
  margin: 2rem 0;
  background-color:#B3B995;
  color: hsl(57, 45%, 90%);
  border: hsl(57, 45%, 90%) solid 1px;
  /* box-shadow: rgba(0, 0, 0, 0.5) 0px 10px 25px; */
}

.col img {
  vertical-align: bottom;
  max-width:100%;
}

.col p {
  font-size: 3vw;
  font-weight: bold;
  line-height: 0.5rem;
  padding: 0;
}

.full_width_list {
  width: 80%;
  column-count: 4;
  padding: 2vw 2vw 2vw 5vw;
  margin-bottom: 2rem;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  list-style-position: outside;
  text-align: left;
}

.cu-address {
  font-size: 1.6em;
}

.cu-email a{
  display: block;
  margin:1em;
  color:#03599a;
  font-weight: 900;
}

.address {
  padding:0 0.5em;
  font-size: 0.7em;
  line-height: 0.9em;
  text-align: left;
}

/* Style all font awesome icons */
.fa {
  color: white;
  padding: 0.1em;
  margin: 0.1em;
}

.fa-2x {
  font-size: 0.1rem;
  padding:0.1rem;
  margin:0.2rem;
}

/* Add a hover effect */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */
/* Facebook */
.fa-facebook {
  background: #3B5998;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
}

/* Instagram */
.fa-instagram {
  background: #125688;
}

.question {
  font-size: 1em;
  font-weight: 600;
}

.answer {
  font-size: 0.8em;
  font-weight: 300;
}


  @media (max-width:700px) {
    .fa {
      font-size: 0.4em;
      padding: 0.4em;
    }
    body {
      font-size: 1.2em;
    }

    .row--header a {
      font-size: 1em;
      padding: 0.7em;
    }

    .cu-address {
      font-size: 1.2em;
    }
  }

  @media (min-width:500px){
    .volunteering img {
      max-height:4.5em;
    }
    .volunteering p {
      font-size: 1.5em;
    }
  }
