<hr/>
<div class="container row">
    <div class="address">
        <p>Church Fenton Community Shop</p>
        <p>Station Road</p>
        <p>Church Fenton</p>
        <p>LS24 9RA</p>
        <p>07598 836653</p>
    </div>
    <div class="social">
        <a href="https://www.facebook.com/ChurchFentonCommunityShop" class="fa fa-facebook fa-fw"></a><br>
        <a href="https://twitter.com/chfentonshop" class="fa fa-twitter fa-fw"></a><br>
        <a href="https://instagram.com/churchfentoncommunityshp?igshid=YmMyMTA2M2Y=" class="fa fa-instagram fa-fw"></a>
    </div>
    <div class="emblem">
        <img src="images/emblem.png" alt="emblem">
    </div>
</div>