<header>
    <img src="images/logo.png" alt="logo" class="header__logo">
    <div class="row--header">
            <a href="index.html" alt="link to home page">Home</a>
            <a href="products.html" alt="link to products page">Products</a>
            <a href="services.html" alt="link to services page">Services</a>
            <a href="volunteering.html" alt="link to volunteering page">Volunteering</a>
            <a href="garden.html" alt="link to garden page">Garden</a>
            <a href="contact.html" alt="link to contact page">Contact</a>
            <a href="contact.html" alt="telephone number">T: 07598 836653</a>
    </div>
</header>
