<header class="header">
    <img src="images/logo.png" alt="logo" class="logo">
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
    <ul class="menu">
    <li><a href="index.html" alt="link to home page">Home</a></li>
    <li><a href="services.html" alt="link to our_offer page">Service Offerings</a></li>
    <li><a href="prescriptions.html" alt="link to prescritions page">Prescriptions</a></li>
    <li><a href="post_office.html" alt="link to post office page">Post Office</a></li>
    <li><a href="volunteering.html" alt="link to volunteering page">Volunteering</a></li>
    <li><a href="garden.html" alt="link to garden page">Garden</a></li>
    <li><a href="awards.html" alt="link to awards page">Awards</a></li>
    <li><a href="contact.html" alt="link to contact page">Contact</a></li>
    </ul>
  </header>
